.button{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    perspective: 1000px;
    margin-top: 60px;
  }
  .button a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;    
  }
  .button a:before,
  .button a:after{
    position: absolute;
    content: "More info";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #00AECD;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .button a:before{
    color: #fff;
    background: #00AECD;
    transform: rotateY(0deg) translateZ(25px);
  }
  .button a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .button a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  

  @media screen and (max-width: 600px){
    .button a{
        font-size: 1rem;
    }

  }