.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.container {
	width: 85%;
	margin-top: 50px;
}

.title {
	font-size: 2rem;
	font-weight: 600;
}

.left_container {
	width: 1000px;
	font-size: 1.25rem;
	line-height: 1.7rem;
	margin-top: 40px;
}

/* admissions */

.news_main {
	width: 800px;
	display: flex;
	justify-content: center;
	position: relative;
	transition: 0.5s ease;
	padding: 40px;
	border-top: 1px solid rgba(182, 190, 192, 0.8);
	margin-top: 50px;
}

.news_item {
	width: 800px;
	display: flex;
}

.image_container {
	overflow: hidden;
	position: relative;
	height: 300px;
	width: 550px;
}
.news_image {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.description_container {
	margin-left: 30px;
	width: 700px;
	margin-top: 20px;
}

.news_tags {
	display: flex;
	width: 250px;
	justify-content: space-between;
	font-size: 1.2rem;
	opacity: 0.4;
}

.h3_styles {
	font-size: 1.35em;
	line-height: 1.9rem;
	font-weight: 600;
	color: #00356b;
}

.p_styles {
	font-size: 1.25rem;
	line-height: 1.8rem;
	margin-top: 18px;
}

@media screen and (max-width: 768px) {
	.news_main {
		width: 95%;
	}
	.left_container {
		width: 100%;
	}
	.news_item {
		flex-direction: column;
		width: 100%;
	}
	.image_container {
		width: 340px;
	}
	.description_container {
		width: 95%;
		margin-left: 5px;
	}
}
