.footer_wrapper{
    width: 100%;
    height: 100%;
    background-color:#1C1C1F ;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer_container{
    width: 1750px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    overflow: hidden;
    margin-bottom: 150px;
}

.first_container{
    color: white;
    font-size: 4.5rem;
    
}
.first_container:hover{
    text-decoration: underline;
    
}

.small_containers{
    display: flex;
    margin-top: 95px;
    width: 750px;
    justify-content: space-between;
}

.p_description {
    width: 300px;
    font-size: 1.1rem;
    color: #8e8e8e;

}

.p_title{
    font-size: 1.1rem;
    color: #fff;

}

.fourth_column{
    color:white;
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: flex-end;
}

.links:hover{
    text-decoration: underline;
}


@media screen and (max-width: 750px) {
    
    .footer_wrapper{
        width: 500px;
    }
    .footer_container{ 
        flex-direction: column;
        padding: 20px;
        height: 100%;
        width: 100%;
    
    }
    .first_container{
        font-size: 2rem;
        
    }
    .small_containers{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .fourth_column{
        display: flex;
        font-size: 1.2rem;
        justify-content: space-between;
        width: 400px;
    }
}   