.nav_wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.nav_links_container {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.nav_links {
	font-family: "Libre Franklin", Helvetica Neue, sans-serif;
	width: 40%;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
}

.nav_links_1 {
	display: block;
	color: black;
	text-decoration: none;
	position: relative;
}
.nav_links_mobile {
	display: none;
}

.nav_links_1:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: #c2eac0;
	transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
	.nav_links_1:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.nav_links_mobile {
		font-family: "Libre Franklin", Helvetica Neue, sans-serif;
		width: 40%;
		font-size: 1.2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		font-weight: 400;
		margin-top: 20px;
	}
	.nav_links_1_mobile {
		margin-bottom: 15px;
		display: inline-block;
		color: black;
		text-decoration: none;
		position: relative;
	}
	.nav_links {
		display: none;
	}
	.logo {
		margin-right: 20px;
	}
	.nav_wrapper {
		width: 100%;
		display: block;
	}
	.burger_container {
		display: flex;
		justify-content: space-between;
		margin: 0 20px;
	}
}

@media screen and (min-width: 768px) {
	.nav_links_container_mobile {
		display: none;
	}
}

.logo {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
}
#second_word {
	font-weight: 600;
}
#first_word {
	font-weight: 200;
}
